.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  color: white;
  text-align: center;
}

.navbar a {
  color: white;
}

.navigation {
  width: 100%;
  margin: auto;
  transition: width 0.5s;
}

.navigationContainer {
  width: 80%;
  margin: auto;
  transition: width 0.5s;
}
